@page "/"
@inject IJSRuntime JSRuntime

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>


<h2>Welcome to your new BLAZOR app. </h2>
<input @bind-value="@Address" />
<input @bind-value="@Port" />
<button @onclick="@Ping"> Send </button>
<script>

    window.ping = (address,port,pingMessage) =>
    {
        tcpSocket.connect(address,port);
        tcpSocket.sendData(pingMessage);
        tcpSocket.close();
    };
</script>
@code
{
    string? Address { get; set; } = "192.168.0.104";
    int Port { get; set; } = 2100;
    async Task Ping()
    {
        await JSRuntime.InvokeVoidAsync("ping", Address, Port, "ping" + Random.Shared.Next());
    }
}